<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class='h-100 w-100'>
    <div class='flex absolute overflow-hidden h-100 w-100 gradient__rolling'>
    </div>
    <div class="flex w-100 justify-center">
      <div class='hero__image--wrapper relative mt5 mt6-ns'>
        <div class="hero__image--brand h4" />
      </div>
      <div class="flex mt4 w-100 justify-center">
        <a target='_blank' href='https://github.com/Product-Engineering'>
          <div class='flex service__icon--github grow h3 w3'></div>
        </a>
      </div>
      <div class="flex mt4 w-100 justify-center">
        <a href='http://eepurl.com/cBkw8v' class="br2 f6 f5-ns b db pa2 link grow white ba white pointer">
          <div className='pa2'>Subscribe To Newsletter</div>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
